.nav-container{
    display: flex;
    height: 72px;
    align-items: center;
    background: #1d2020;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12);
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;

}

.nav-right{
    margin-left: 20px;
}

.flash-logo{
    margin-left: 30px;
    height: 60px;
    
}

.flash-logo-text{
    font-family: sans-serif,cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin:  0 10px;
    color: #eeeeee;
}